.panel-primary {
    border-color: #232C51;
}

p{
    font-size: 1.2em;
}

#contactDiv {
    cursor: pointer;
    font-size: 10px;
}

.jumbotron{
    padding-bottom: 0;
    padding-top: 20px;
}

.carousel-caption {
    top: 20px;
}

.panel-body{
    color:white;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 520px) {

    .jumbotron > div > p > img {
        width: 280px;
    }

    p {
        font-size: .8em;
    }


}

